<div class="tb">
    <InputDate @bind-Value="value_info" disabled="@disabled"/>
</div>


@code {
    [Parameter]
    public Object value_info { get; set; }
    [Parameter]
    public bool disabled { get; set; }

    //Datei noch ungenutzt 
}

