footer {
    margin-top: 20px;
    background-color: rgb(53,168,224);
    width: 100%;
}

    footer.page-footer {
        bottom: 0;
        color: #fff;
    }

        footer.page-footer a {
            color: #fff;
        }

.font-small {
    font-size: 0.9rem;
}

.footer-copyright {
    background: rgba(0, 0, 0, 0.2);
}
