<footer class="page-footer font-small pt-4 fixed-bottom">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-11 mt-md-0 mt-3">
                <h5>Smart Infection Control System</h5>
            </div>
            <a style="float: right;" href="http://www.highmed.org">HiGHmed</a>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">
        © 2021 Copyright:
        <a href="https://www.mh-hannover.de/37300.html"> MeDIC Hannover</a>
    </div>
    <!-- Copyright -->

</footer>
