

<footer class="page-footer font-small pt-3 fixed-bottom">
    <div class="container-fluid text-center text-md-left">
        <div class="column">
            <div class="col-md-11 mt-md-0 mt-3" style="margin-left: 1%;">
                <h5>Smart Infection Control System</h5>
            </div>
            <a style="float: right;" href="http://www.highmed.org">HiGHmed</a>
            <a style="float: right; margin-left: 1%; padding-right: 1%;" href="https://github.com/orgs/highmed">Kontakt</a>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">
        © 2021 Copyright:
        <a href="https://www.mh-hannover.de/37300.html"> MeDIC Hannover</a>
    </div>
    <!-- Copyright -->

</footer>
