<nav class="navbar navbar-expand-lg shadow-sm fixed-top">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="">
            <img src="./resources/highmed.png" height="60px" alt="">
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="state">
                    <span class="oi oi-check" aria-hidden="true"></span> Statistik (Prototyp)
                </NavLink>
            </li>           
            <li class="nav-item">
                <NavLink class="nav-link" href="http://localhost:3231" Match="NavLinkMatch.All">
                    <span class="oi oi-eye" aria-hidden="true"></span> Visualisierung
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/swagger/index.html" Match="NavLinkMatch.All">
                    <span class="oi oi-list" aria-hidden="true"></span> REST API
                </NavLink>
            </li>
        </ul>
        </div>
    </nav>

    @code {

    }
