nav {
    border-top: 2px solid rgb(53, 168, 224);
    background: rgb(255, 255, 255)
}

.nav-text {
    color: rgb(41, 35, 92);
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 0 50px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.container_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90px;
    height: auto;
    margin-left: 1%;
    margin-bottom: 0;
    margin-top: 0;
}

    .container_logo img {
        width: 100%;
        height: auto;
    }

    .container_logo ul {
        margin-left: 10%;
        width: 100%;
        height: auto;
    }

.navbar-nav-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    list-style: none;
    margin-left: 1%;
    height: auto;
    width: 100%;
}

.nav-item-box {
    margin-left: 2%;
}

.nav-link-box {
    flex-direction: row;
}
/*
.nav-img{
    display: flex;
}

.nav-linktext {
    display: flex;
}*/

.logout {
    align-content: flex-end;
}

@media (min-width: 900px) {
    .navbar-toggler {
        display: none;
    }
}
