<nav class="navbar navbar-expand-lg shadow-sm fixed-top">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="">
            <img src="./resources/highmed.png" height="60px" alt="">
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="state">
                    <span class="oi oi-map" aria-hidden="true"></span> RKI-Dashboard
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Statistik">
                    <span class="oi oi-vertical-align-bottom" aria-hidden="true"></span> Statistik
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/swagger/index.html" Match="NavLinkMatch.All">
                    <span class="oi oi-document" aria-hidden="true"></span> REST Api
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {

}
