nav {
    border-top: 2px solid rgb(53, 168, 224);
    background: rgb(255, 255, 255)
}

.nav-text {
    color: rgb(41, 35, 92);
    //font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 0 50px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 900px) {
    .navbar-toggler {
        display: none;
    }
}
