@using Blazorise;
@using SmICSCoreLib.Factories.MiBi;
<tr>
    <td>@Antibiogram.Antibiotic</td>
    <td>@Antibiogram.Resistance</td>
    <td>@Antibiogram.MinInhibitorConcentration</td>
</tr>

@code {
    [Parameter]
    public Antibiogram Antibiogram { get; set; }
}
