@using Blazorise;
@using SmICSCoreLib.Factories.MiBi;
 
<Card Border="Border.Is0" Margin="Margin.Is0">
    <CardBody>
        <Span class="oi oi-beaker" TextColor="TextColor.Info" style="width:auto;"></Span>
        <CardTitle Size="5" TextColor="TextColor.Black50" Width="Width.Is50">Antibiogramm</CardTitle>
        <CardText>
            Antibiogrammzeit:&nbsp;
        </CardText>
    </CardBody>
    <table class="table-sm">
        <thead class="th-bg-antibiogram border-bottom-0 text-white">
            <tr>
                <th>Antibiotikum</th>
                <th>Resistenz</th>
                <th>MHK</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Antibiogram ab in Antibiograms)
            {
                <AntibiogramTableRow Antibiogram="ab" />
            }
        </tbody>
    </table>
</Card>

@code {
    [Parameter]
    public List<Antibiogram> Antibiograms { get; set; }
}
