@page "/clientconfig"


<div class="">
    <div class="welcome_header_config">
        <h1>Daten filtern</h1>
    </div>
    <div class="welcome_text_config">
        <div class="index_config">
            <div class="index-text_config">
                <span class="oi oi-info" aria-hidden="true">&nbsp;&nbsp;</span> In diesem Bereich können Informationen hinterlegt werden, die die Handhabung dieser Funktion für den Nutzer erklärt.
            </div>
            <div class="">
                huh
            </div>
        </div>
    </div>
</div>

