@page "/rkiconfig"


<div class="">
    <div class="welcome_header_config">
        <h1>RKI Konfigurationen</h1>
    </div>
    <div class="welcome_text_config">
        <div class="index_config">
            <div class="index-text_config">
                <span class="oi oi-info" aria-hidden="true">&nbsp;&nbsp;</span> In diesem Bereich können Informationen hinterlegt werden, die die Handhabung dieser Funktion für den Nutzer erklärt.
            </div>
            <!--<div id="div_card_1" class="">-->
                @*<EditForm>
                    <DataAnnotationsValidator />
                    <ValidationSummary />*@
                    <!--<div id="div_card_2">
                        <div id="div_card_3">
                            <div id="div_card_4">
                                <div id="5">
                                    <div>-->
                                        @*<InputText/>*@
                                    <!--</div>
                                    <div>-->
                                        @*<InputText/>*@
                                    <!--</div>
                                    <div>-->
                                        @*<InputText/>*@
                                    <!--</div>
                                    <div>-->
                                        @*<InputText/>*@
                                    <!--</div>
                                </div>
                                <div id="div_card_5">
                                    <div>-->
                                        @*<InputText />*@
                                    <!--</div>
                                    <div>-->
                                        @*<InputText />*@
                                    <!--</div>
                                </div>
                            </div>
                            <div id="div_card_4">
                                <div>-->
                                    @*<InputCheckbox id="op4" class="css-checkbox"/>*@
                                <!--</div>
                            </div>
                        </div>
                        <input id="button" type="submit" value="Ausführen"/>
                    </div>-->
                    @*</EditForm>*@
                    <!--<div class="span_hr">
                        <span>&nbsp;</span>
                    </div>
                    <div id="div_card_2">
                        <div id="div_card_3">
                            <div>

                            </div>
                        </div>
                        <div id="div_card_3">
                            <div>
                                
                            </div>
                        </div>
                    </div>
            </div>-->

        </div>
    </div>
</div>


@code {

}