@page "/contactIndex"



<div class="form-image">
    <div class="welcome_header_form">
        <h1>Interne Kontaktverfolgung</h1>
    </div>
    <div class="welcome_text_form">

        <div class="index-forms">
            <div class="index-text">
                <span class="oi oi-info" aria-hidden="true">&nbsp;&nbsp;</span> In diesem Bereich können Informationen hinterlegt werden, die die Infektionsverbreitung unter den Mitarbeitern des Standortes zur Nachverfolgung dienen können.
            </div>
            <div class="index-button-container">
                <div class="index-button">
                    <NavLink class="nav-link" href="FormContactTracing" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Bericht zur Kontaktverfolgung
                    </NavLink>
                </div>
                <div class="index-button">
                    <NavLink class="nav-link" href="Forminfectioncontrol" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Personeninformation zur Infektonskontrolle
                    </NavLink>
                </div>
                <div class="index-button">
                    <NavLink class="nav-link" href="FormPersonInformation" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Personen Information
                    </NavLink>
                </div>
            </div>
        </div>

    </div>
</div>
