@page "/contactIndex"



<div class="form-image">
    <div class="welcome_header_form">
        <h1>Formulare zur Erfassung von Kontakten des klinischen Personals (Prototyp)</h1>
    </div>
    <div class="welcome_text_form">

        <div class="index-forms">
            <div class="index-text">
                <span class="oi oi-info" aria-hidden="true">&nbsp;&nbsp;</span> Das SmICS stellt Formulare bereit, über die die Dokumentation von infektiologisch-relevanten
                Kontakten des klinischen Personals zu Patient:innen getestet werden kann.<br />
                Die Eingaben zur Dauer des Kontakts, der getragenen Schutzkleidung und weitere Felder werden auf dem angebundenen standardisierten Datenrepositorium gespeichert
                und sind von dort aus für weitere Abfragen nutzbar. Kontaktieren Sie dafür bitte Ihr medizinisches Datenintegrationszentrum. <br />
                <br />
                <b><i>Bitte beachten Sie:</i></b> Es handelt sich hier ausdrücklich um einen <u>Prototyp</u>, mit dem die grundsätzliche Funktionalität und der potentielle Mehrwert
                dieser Erfassungsart evaluiert werden kann.<br /> Bevor Sie Echtdaten eingeben, halten Sie Rücksprache mit Ihrem Datenschutz (Datenschutzbeauftragte Ihrer Institution),
                Ihre personalrechtlich verantwortlichen Personen und Ihre IT-Abteilung,
                ob dieser Weg der Kontaktnachverfolgung für die mitarbeitenden Personen rechtlich gesichert genutzt werden darf.
            </div>
            <div class="index-button-container">
                <div class="index-button">
                    <NavLink class="nav-link" href="FormContactTracing" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Bericht zur Kontaktverfolgung
                    </NavLink>
                </div>
                <div class="index-button">
                    <NavLink class="nav-link" href="Forminfectioncontrol" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Personeninformation zur Infektonskontrolle
                    </NavLink>
                </div>
                <div class="index-button">
                    <NavLink class="nav-link" href="FormPersonInformation" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Personen Information
                    </NavLink>
                </div>
            </div>
        </div>

    </div>
</div>