@using SmICSCoreLib.AQL.Contact_Nth_Network
@using SmICSCoreLib.AQL.General


<table>
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (string s in new string[2])
        {
            <tr>
                <td></td>
            </tr>
        }
    </tbody>
        
</table>


@code {
    [Parameter]
    public Case RootPatient { get; set; }

    [Parameter]
    public ContactModel ContactInformation { get; set; }

    public void OnInitialized()
    {

    }
}
