@page "/"

@using SmICSWebApp.Data
@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations
@using SmICSCoreLib.AQL.Patient_Stay.Stationary;



<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


