@page "/"


<div class="containter_content">
    <div class="welcome_header">
        <h1>Herzlich Willkommen</h1>
    </div>
    <div class="welcome_text">
        Das Smart Infection Control System (SmICS) ist ein klinisches Anwendungssystem, das es erlaubt, Patientendaten,
        stationäre Patientenaufenthalte und Laborbefunddaten räumlich und zeitlich aufgelöst interaktiv zu visualisieren.
        Durch eine algorithmische Auswertung von Patientenbewegungen im Klinikum und Erregernachweisen im zeitlich-räumlichen Kontext
        soll die Anwendung bei der Detektion, Analyse und Surveillance von Erregern, Erregerclustern und noskomialen Ausbrüchen unterstützen.
        <br /><br />
        Initial im HiGHmed-Projekt der Medizininformatik-Initiative entworfen und entwickelt für mikrobiologische Erreger,
        wurde das SmICS als Kernkomponente des im Rahmen des Projektes B-FAST (Netzwerk Universitätsmedizin) zu entwickelnden Systems
        Co-Surv zur COVID-19 Surveillance auf virologische Erreger angepasst, um Funktionen erweitert. Das SmICS ist eine offene,
        auf dem Interoperabilitätsstandard „openEHR" basierende Anwendung.
        <br /><br />
        <span class="oi oi-chevron-right" aria-hidden="true">
            &nbsp;
        </span>
        Durch einen Klick auf den Schriftzug „Visualisierung" gelangen Sie zur interaktiven SmICS-Visualisierung.
        Dort klicken Sie bitte, nach Eingabe Ihrer Suchparameter, zum initialen Laden der Ansichten auf das „Aktualisieren"-Icon, das Sie am oberen rechten Rand finden.
        Über einen Klick auf das nebenliegenden „Balken"-Icon gelangen Sie zurück zu dieser Startseite.
        <br /><br />
        <span class="oi oi-chevron-right" aria-hidden="true">
            &nbsp;
        </span>
        Durch einen Klick auf den Schriftzug „Statistik" öffnet sich eine Übersicht über die aktuelle deutschlandweite,
        regionale und krankenhausweite COVID-19-Fallzahlentwicklung.
        <br /><br />
        <span class="oi oi-chevron-right" aria-hidden="true">
            &nbsp;
        </span>
        Hier finden Sie ein ausführliches <a class="text-white" href="https://github.com/highmed/SmICSCore/blob/develop/Benutzerhandbuch_CoSurvSmICS_V0_8_Test.pdf" title="https://github.com/highmed/SmICSCore/blob/develop/Benutzerhandbuch_CoSurvSmICS_V0_8_Test.pdf">
            <i><u>Benutzerhandbuch</u></i></a>.
    </div>
</div>

<div class="fixed-bottom" style="margin-bottom: 4.25rem" id="logobackground">
    <div class="gef_von">
        Gefördert vom:
    </div>
    <a href="https://www.highmed.org/">
        <img src="/resources/highmed.png" width="12%" height="8%" class="logo_img" />
    </a>

    <a href="https://www.medizininformatik-initiative.de/de/use-cases/codex-covid-19-data-exchange-platform">
        <img src="/resources/Logo_CODEX_rgb_cropped.png" width="12%" height="8%" class="logo_img" />
    </a>

    <a href="https://www.umg.eu/forschung/corona-forschung/num/b-fast/projekt-b-fast/">
        <img src="/resources/BFAST_Logo.png" width="10%" height="7%" class="logo_img" />
    </a>

    <a href="https://www.netzwerk-universitaetsmedizin.de/">
        <img src="/resources/NUM_Logo.png" width="10%" height="7%" class="logo_img" style="padding-bottom: 1%;" />
    </a>

    <a href="https://www.medizininformatik-initiative.de/">
        <img src="/resources/Logo_MII.png" width="8%" height="5%" class="logo_img" />
    </a>

    <a href="https://www.bmbf.de/">
        <img src="/resources/BMBF_Logo.png" width="10%" height="7%" class="logo_img" />
    </a>

</div>
