@page "/"

<h1>Herzlich Willkommen</h1>
<h2>{Username}</h2>

<div class="fixed-bottom" style="margin-bottom: 6rem">
    <img src="/resources/Logo_CODEX_rgb.jpg" width="200"/>
    <img src="/resources/NUM_logo.png" width="200" />
    <img src="/resources/BFAST_Logo.png" width="200" />
    <!--<img src="/resources/Logo_MII.png" width="200" />-->
</div>


