.welcome-header-patient {
    margin-left: 2%;
    text-shadow: 1px 1px 5px lightgrey;
}

::deep .box-style {
    box-shadow: -20px -16px #008DB0 !important;
    padding-left: 2% !important;
}

::deep #btn {
    background: linear-gradient(to bottom, #33ccff 0%, #3399ff 100%);
    border-radius: 8px;
    border: none;
}

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.span_hr {
    background-color: #56A5EC;
    margin-left: 4%;
    margin-right: 4%;
    padding: 0%;
    height: 3px;
    box-shadow: 1px 1px 5px lightgrey;
}
