.welcome_header_config {
    margin-left: 2%;
    color: #637492;
    text-shadow: 1px 1px 5px lightgrey;
}

.welcome_text_config {
    margin-left: 2%;
    margin-right: 2%;
    opacity: 1;
}

.index_config {
    display: flex;
    margin: 2%;
    flex-direction: column;
    margin: 2%;
}

.index-text_config {
    background-color: #56A5EC;
    opacity: 1;
    color: azure;
    padding: 0.2%;
    margin: 1%;
}

#div_card_1 {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-bottom: 10%;
}

#div_card_2 {
    display: flex;
    flex-direction: row;
    margin: 1%;
}

#div_card_3_a {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-image: url("../resources/Form_BG.png");
    background-repeat: no-repeat;
    background-size: 95% 95%;
    opacity: 0.7;
}

#div_card_3_b {
    width: 5%;
    display: flex;
    align-items: flex-end;
}

#div_card_3_c {
    width: 25%;
    margin: 1%;
}

#div_card_4 {
    display: flex;
    flex-direction: row;
    margin: 1%;
}

#div_card_5 {
    display: flex;
    flex-direction: column;
    margin: 1%;
    color: white;
    flex-grow: 1;
}

.span_hr {
    background-color: #56A5EC;
    margin: 0%;
    padding: 0%;
    height: 3px;
    box-shadow: 1px 1px 5px lightgrey;
}

#button {
    width: 20%;
    border-radius: 8px;
    background: linear-gradient(to bottom, #33ccff 0%, #3399ff 100%);
    padding: 0.5%;
    color: white;
    margin-right: 2%;
    border: none;
}

#button:hover {
    opacity: 1
}

#btn {
    width: 3em;
    height: 3em;
    background: linear-gradient(to bottom, #33ccff 0%, #3399ff 100%);
    border-radius: 8px;
    color: white;
    border: none;
}

#btn:focus {
    outline: none;
}

.check {
    padding-left: 20%;
}

.input-field {
    border: 2px lightgrey;
}
