﻿
#div_card_5 {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    flex-grow: 1;
}

.check {
    padding-left: 20%;
}

.input-field {
    border: none;
}

.tb-bez-header {
    background-color: #e6f2ff;
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Firefox (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of Internet Explorer  10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    border: 2px 0px solid white;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

#div_card_5_full {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#div_card_5_only_rules {
    display: flex;
    flex-direction: row;
    width: 100%;
}
