<div class="card-header col-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav-head">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="row">
                <div class="card flex-fill" id="card-nav">
                    <div class="card-header" id="head-info-nav">
                        <h10 class="card-title"> 
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> 
                            RKI Daten 
                        </h10>
                    </div>
                    <div class="card-body" id="body-info-nav">
                        <div class="row">
                            <nav class="navbar navbar-expand-lg">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="nav nav-tabs card-header-tabs" id="blog-list" role="tablist">
                                        <li class="nav-item active">
                                            <a class="nav-link" role="tab" aria-controls="description" href="/state">Fallzahlen in Deutschland</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" role="tab" aria-controls="description" href="/region">Fallzahlen in der Region</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="card flex-fill" id="card-nav">
                    <div class="card-header" id="head-info-nav">
                        <h10 class="card-title">
                            <span class="oi oi-home" aria-hidden="true"></span>
                            Krankenhaus Daten
                        </h10>
                    </div>
                    <div class="card-body" id="body-info-nav">
                        <div class="row">
                            <nav class="navbar navbar-expand-lg ">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="nav nav-tabs card-header-tabs flex-column" id="blog-list" role="tablist">
                                        <li class="nav-item active">
                                            <a class="nav-link" role="tab" aria-controls="description" href="/hospital">Fallzahlen im Krankenhaus</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" role="tab" aria-controls="description" href="/atHospital">Patienten im Krankenhaus</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" role="tab" aria-controls="description" href="/symptome">Symptome</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
